button {
  border: none;
  outline: none;
}

.swap {
    text-align: center;
    background-color: #e3eef3;
}

/******************************************************************************/
/* Navbar */
.appNav {
  margin: 0 16px 0 0;
}

.rightNav {
  float: right;
}

.pageButtonBold {
  font-weight: 800;
}

.buttonContainer {
  background-color: #ecb9e1 !important;
  padding: 5px 10px;
  border-radius: 16px;
  display: inline-block;
  cursor: pointer;
}

.buttonContainerTop {
  margin-left: 175px;
}

.connectButton {
  background-color: #ecb9e1 !important;
  border-radius: 16px !important;
  border: 1px solid #fff !important;
  color: rgb(213, 0, 102) !important;
}

.connectButtonContainer {
  display: inline-block;
  margin-right: 10px;
}

.connectButton:hover {
  border-color: rgb(213, 0, 102) !important;
  background-color: #fff !important;
}

.hoverBold:hover {
  font-weight: 800;
}

/******************************************************************************/
/* Swap Container */

.swapContainer {
  /* position: relative; */
  /* background-color: rgb(203, 231, 240); */
  width: 440px;
  margin: 0 auto;
  top: 50%;
  border-radius: 24px;
  border: 1px solid #fff;
  padding: 6px;
  border: 1px solid rgb(210, 217, 238);
}

.swapHeader {
  text-align: left;
  padding: 4px 20px 0px 20px;
}

.swapText {
  color: #000;
  font-size: 20px;
}

.gearContainer {
  color: #645151;
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.gearContainer:hover {
  color: #bfb1b1;
}

/******************************************************************************/
/* Currency Input */
.currencyInput {
  background-color: rgb(217, 236, 242);
  margin: 10px !important;
  padding: 10px;
  border-radius: 20px;
}
.currencyInput:hover {
  border-color: #65cdee !important;
  border: 1px solid;
}
::placeholder {
  opacity: 0.25;
}
.numberContainer {
  text-align: left;
}
.spinnerContainer {
  height: 55px;
  line-height: 55px;
}
.currencyInputField {
  font-size: 28px;
  display: inline-block;
  width: 100%;
  border: none;
  background-color: rgb(217, 236, 242);
  border: none;
  outline: none;
}
.tokenContainer {
  text-align: right;
}
/* .tokenName {
  font-size: 28px;
  display: block;
  color: #000;
} */
.balanceContainer {
  display: block;
}
.balanceAmount {
  width: 100%;
  font-size: 16px;
  display: inline;
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}

/******************************************************************************/
/* Ratio */
.ratioContainer {
  text-align: left;
  margin-left: 10px;
  height: 28px;
}


/******************************************************************************/
/* Swap Button */
.swapButtonContainer {
  margin: 10px;
}
.swapButton {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  color: #fff;
  border-radius: 20px;
  background-color: #dd2f81;
  cursor: pointer
}

.swapButton:hover {
  background-color: #eb67a4;
}

/******************************************************************************/
/* Config Modal */

.modaly {
  position: fixed;
  left: 0;
  top: -142px;
  right: -110px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);
  z-index: 9999;
}

.modalContent {
  background-color: #fff;
  width: 300px !important;
  padding: 20px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}

.modalTitle {
  margin: auto;
}

.titleHeader {
  margin-left: -12px;
}
.labelField {
  padding-left: 0px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}


/******************************************************************************/
/* Config Modal Token */

.swapbox_select {
  width: 50%;
  float: left;
}
.swapbox{
  overflow: auto;
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
}
.token_select{
  width: 150px;
  background-color: #dd2f81;
  padding:5px 0;
  margin: 0 20px;
  float: right;
  border-radius: 10px;
  color: #fff;
}

.token_selected{
  width: 150px;
  /* background-color: #dd2f81; */
  padding:5px 0;
  margin: 0 20px;
  float: right;
  border-radius: 10px;
  /* color: #fff; */
}

.token_select:hover{
  cursor: pointer;
  background-color: #eb67a4;
}
.token_row{
  padding: 5px 10px;
}
.token_row:hover{
  background-color: #e4e4e4;
  cursor: pointer;
}
.gas_estimate_label{
  padding:5px;
}

.modal {
  margin-top: 100px;
}

.modal-content {
  border-radius: 34px !important;
  overflow: hidden;
}

.modal-body2{
  margin-top: 20px;
  padding: 0 20px;
  height: 300px;
  overflow: auto;   
}

.close {
  font-size: 40px;
}

.containerToken {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.wrapName {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tokenImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: middle;
}

.tokenName {
  font-size: 16px;
  color: black
}

.tokenSymbol {
  font-size: 12px;
  color: rgb(118, 110, 110)
}